<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  <style>
    /* Internal CSS */
    body {
        font-family: Arial, sans-serif;
        background-color: #333;
        color: aliceblue;
    }

</style>
</head>

<body>

<br>
<br>
<br>
<h1 class="text">{{ guild.guild_name|capfirst }}</h1>
{% if joined == True %}
<br><br><br><br><br><br>
<center>
  <h2>
    The bot joiend the server and yo can edit the  information
  </h2>
</center>
  {% else %}
  <center>
    <div>
      <br><br><br><br><br><br>
      <h2>The Bot is not in This Guild add it so you can access This Guild</h2>
      <br>
      <a href="https://discord.com/api/oauth2/authorize?client_id=6666666666666666&permissions=8&scope=bot&guild_id={{ guild.guild_id }}&redirect_uri=" target="_blank" class="button-61">Add to Server</a>
    </div>
      
    </center>
  {% endif %}
</body>
</html>
